<P class="d-flex justify-content-center mt-5 p-0 m-0 mb-5 fs20">DESTAQUES VIP</P>

<div class="container " name="1cards">
    <div class="row ">
        <div class="col-md-6 col-lg-3 d-flex justify-content-center">
            <div class="card me-3 zoom bg-dark border-0 mb-4 w-100 ms-3" style="width: 18rem;">
                <img src="../../../assets/img/ccard.jpg" class="card-img-top" alt="1">
                <div class="card-body text-light">
                    <p class="text-center font-monospace">FRACIONADO</p>
                    <p class="card-text ffRale ">O transporte de cargas fracionadas sem limite de peso, tamanho ou
                        quantidade.
                        “A necessidade da sua empresa cabe em nossa frota”.</p>
                </div>
                <a href="#" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex justify-content-center">
            <div class="card me-3 zoom bg-dark border-0 mb-4 w-100 ms-3" style="width: 18rem;">
                <img src="../../../assets/img/ccard3.jpg" class="card-img-top" alt="2">
                <div class="card-body text-light">
                    <p class="text-center font-monospace">EXPRESS</p>
                    <p class="card-text ffRale">Envios urgentes de pequenos volumes de hora em hora através dos
                        terminais
                        rodoviários. “A garantia da sua mercadoria no horário e local exato”.</p>
                </div>
                <a href="#" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex justify-content-center">
            <div class="card zoom bg-dark border-0 me-3 mb-4 w-100 ms-3" style="width: 18rem;">
                <img src="../../../assets/img/ccard1.jpg" class="card-img-top" alt="3">
                <div class="card-body text-light">
                    <p class="text-center font-monospace">LOTAÇÃO</p>
                    <p class="card-text ffRale">A agilidade e segurança de sua mercadoria em qualquer lugar do Brasil.
                    </p>
                </div>
                <a href="#" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex justify-content-center">
            <div class="card zoom bg-dark border-0 me-3 mb-4 w-100 ms-3" style="width: 18rem;">
                <img src="../../../assets/img/ccard2.jpg" class="card-img-top" alt="3">
                <div class="card-body text-light">
                    <p class="text-center font-monospace">LOTAÇÃO</p>
                    <p class="card-text ffRale">A agilidade e segurança de sua mercadoria em qualquer lugar do Brasil.
                    </p>
                </div>
                <a href="#" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>
    </div>
</div>