<span target="_blank" class="formWithCss" id="form2019-10-02T11_41_261571236714">
    <form name="editor-attributes">
        <input type="hidden" name="formid" value="form2019-10-02T11_41_261571236714">
    </form>
    
    <form action="https://api.elasticemail.com/contact/add?version=2" data-id="aTsJKQGZNp" method="post"
        id="ewf_subscriptionForm_aTsJKQGZNp" class="EWF__form Inline">
        <div class="headers">
            <h4 id="ewf_formheader" class="EWF__header">Get inspired. Sign up for weekly newsletter.
            </h4>
            <p id="ewf_formdesc" style="display: none; margin: 0px; padding: 0px;">
            </p>
        </div>
        <fieldset style="border:none;" class="webform-custominputs">
            <div class="inputs">
                <div>
                    <label for="email" class="requiredInput">Email
                    </label>
                    <input maxlength="60" class="form-control webform__form-control" name="email" size="20" type="email"
                        required="" placeholder="">
                </div>
                <div class="requiredInput">
                    <label for="field_firstname">Name
                    </label>
                    <input maxlength="60" class="form-control webform__form-control" name="field_firstname" size="20"
                        type="text" placeholder="" required="">
                </div>
            </div>
            <div class="checkboxes">
            </div>
            <div class="webform-lists">
            </div>
            <p id="ewf_datadisclaimer">
                We use Elastic Email as our marketing automation service. By submitting this form, you agree that the
                information you provide will be transferred to Elastic Email for processing in accordance with their
                <a href="https://elasticemail.com/resources/usage-policies/terms-of-use/" target="_blank">Terms of
                    Use</a> and
                <a href="https://elasticemail.com/resources/usage-policies/privacy-policy/" target="_blank">Privacy
                    Policy</a>.
            </p>
        </fieldset>
        <fieldset class="webform-options style-updated" style="border:none;">
            <input type="submit" name="submit" value="Subscribe" id="eesubmit" class="EWF__subscribe">
            <input type="hidden" name="publicaccountid"target="_blank" value="5e7c8460-59dd-47e4-bf29-6321983dc07f">
            <input type="hidden" name="returnUrl" value="">
            <input type="hidden" name="activationReturnUrl" value="">
            <input type="hidden" name="alreadyactiveurl" value="">
            <input type="hidden" name="activationTemplate" value="">
            <input type="hidden" name="source" value="WebForm">
            <input type="hidden" name="verifyemail" value="false" id="ewf_verifyEmails">
            <input type="hidden" id="ewf_captcha" name="captcha" value="false">
            <input type="hidden" name="notifyEmail" value="">
            <button type="button" name="dismissForm" id="ewf_dismissForm"
                style="display:none; position: absolute; top: 0; right: 0; float: right">X
            </button>
        </fieldset>
        <div id="ewf_style" class="Inline">
        </div>
    </form>
</span>