<div class="">

    <form action="https://api.elasticemail.com/contact/add?version=2" data-id="yGmVsVlcuO" method="post"
        id="ewf_subscriptionForm_yGmVsVlcuO" class="EWF__form Inline d-flex">
        <div class="headers me-4">
            <h4 id="ewf_formheader" class="EWF__header">Assine nossa newsletter</h4>
        </div>

        <fieldset class="webform-custominputs">
            <!-- inputs -->
            <div class="d-flex align-items-center">

                <div class="me-4">
                    <input maxlength="100" class="form-control" name="field_firstname" size="20" type="text"
                        placeholder="Nome">
                </div>

                <div class="me-5">
                    <input maxlength="81" class="form-control" name="email" size="20" type="email" required=""
                        placeholder="Email">
                </div>
            </div>
            <!-- inputs -->


        </fieldset>
        <fieldset class="webform-options " style="border:none;">
            <button class="btn btn-secondary"></button>
            <div class="d-flex">
                <input type="submit"  name="submit" value="Enviar" id="eesubmit" class="EWF__subscribe">
            </div>

            <input type="hidden" name="returnUrl" value="http://localhost:4200/" >
            <input type="hidden" name="publicaccountid" value="5e7c8460-59dd-47e4-bf29-6321983dc07f">
            <input type="hidden" name="activationReturnUrl" value="">
            <input type="hidden" name="alreadyactiveurl" value="">
            <input type="hidden" name="activationTemplate" value="">
            <input type="hidden" name="source" value="WebForm">
            <input type="hidden" name="verifyemail" value="false" id="ewf_verifyEmails">
            <input type="hidden" id="ewf_captcha" name="captcha" value="false">
            <input type="hidden" name="sendActivation" value="true">
            <input type="hidden" name="notifyEmail" value="">

        </fieldset>
    </form>
</div>